<div class="container mt-5 p-3 rounded cart">
  <div class="row no-gutters">
    <div *ngIf="!isCheckout" class="col-md-12">
      <div class="product-details mr-2">
        <div class="d-flex flex-row align-items-center">
          <button type="button" class="btn btn-secondary" routerLink="">
            <i class="fa fa-long-arrow-left"></i
            ><span class="ml-2">&nbsp; Continue Shopping</span>
          </button>
        </div>
        <hr />
        <h6 class="mb-0">Shopping cart</h6>
        <div class="d-flex justify-content-between">
          <span>You have {{cartProducts.length}} items in your cart</span>
          <!-- <div class="d-flex flex-row align-items-center">
            <span class="text-black-50">Sort by:</span>
            <div class="price ml-2">
              <span class="mr-1">price</span><i class="fa fa-angle-down"></i>
            </div>
          </div> -->
        </div>
        <div *ngFor="let product of cartProducts"
          class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded"
        >
          <div class="d-flex flex-row">
            <img
              class="rounded"
              src="{{product.immagine}}"
              width="100"
            />
            <div class="ml-2" style="width: 50vw;">
              <span class="font-weight-bold d-block">{{product.nome}} - {{product.marca}}</span
              ><span class="spec">{{product.descrizione}}</span>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center" style="width: 10vw;">
            <!-- <span class="d-block">2</span> -->
            <span class="d-block ml-5 font-weight-bold">{{product.costo}} €</span>
            <button class="btn" type="button">
              <i class="fa fa-trash-o ml-5 text-black-100" style="font-size: x-large; float: right;"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center mt-3" style="float:right">
        <button type="button" class="btn btn-primary" (click)="isCheckout = !isCheckout">
          <i class="fa fa-long-arrow-right"></i
          ><span class="ml-2">&nbsp; Checkout</span>
        </button>
      </div>
    </div>
    <div *ngIf="isCheckout" class="col-md-12">
      <div class="d-flex flex-row align-items-center mb-3">
        <button type="button" class="btn btn-danger" (click)="isCheckout = !isCheckout">
          <i class="fa fa-long-arrow-left"></i
          ><span class="ml-2">&nbsp; Back to cart</span>
        </button>
      </div>
      <div class="payment-info">
        <div class="d-flex justify-content-between align-items-center">
          <span>Card details</span
          ><img
            class="rounded"
            src="https://i.imgur.com/WU501C8.jpg"
            width="30"
          />
        </div>
        <span class="type d-block mt-3 mb-1">Card type</span
        ><label class="radio">
          <input type="radio" name="card" value="payment" checked />
          <span
            ><img
              width="30"
              src="https://img.icons8.com/color/48/000000/mastercard.png"
          /></span>
        </label>

        <label class="radio">
          <input type="radio" name="card" value="payment" />
          <span
            ><img
              width="30"
              src="https://img.icons8.com/officel/48/000000/visa.png"
          /></span>
        </label>

        <label class="radio">
          <input type="radio" name="card" value="payment" />
          <span
            ><img
              width="30"
              src="https://img.icons8.com/ultraviolet/48/000000/amex.png"
          /></span>
        </label>

        <label class="radio">
          <input type="radio" name="card" value="payment" />
          <span
            ><img
              width="30"
              src="https://img.icons8.com/officel/48/000000/paypal.png"
          /></span>
        </label>
        <div>
          <label class="credit-card-label">Name on card</label
          ><input
            type="text"
            class="form-control credit-inputs"
            placeholder="Name"
          />
        </div>
        <div>
          <label class="credit-card-label">Card number</label
          ><input
            type="text"
            class="form-control credit-inputs"
            placeholder="0000 0000 0000 0000"
          />
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="credit-card-label">Date</label
            ><input
              type="text"
              class="form-control credit-inputs"
              placeholder="12/24"
            />
          </div>
          <div class="col-md-6">
            <label class="credit-card-label">CVV</label
            ><input
              type="text"
              class="form-control credit-inputs"
              placeholder="342"
            />
          </div>
        </div>
        <hr class="line" />
        <div class="d-flex justify-content-between information">
          <span>Subtotal</span><span>{{getCartPrice()}}</span>
        </div>
        <div class="d-flex justify-content-between information">
          <span>Shipping</span><span>0 €</span>
        </div>
        <div class="d-flex justify-content-between information">
          <span>Total(Incl. taxes)</span><span>{{getCartPrice()}} €</span>
        </div>
        <button
          class="btn btn-primary btn-block d-flex justify-content-between mt-3"
          type="button"
          style="float:right;"
        >
        <span>Checkout &nbsp;<i class="fa fa-long-arrow-right ml-1"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
