<div class="container">
  <section
  class="row main___11qKY color-theme-black___3q1S9 text-justify-left___TN-Ul"
  style="background-color: rgb(235, 237, 238)"
>
  <div
    class="content___ajFWk col-m-8 col-l-14 offset-s-1 offset-m-1 offset-l-1 vertical-align-top___1GYOu statement-content"
  >
    <div class="">
      <h2 class="gl-heading title___1no5t withhtml___2vPJM gl-heading--m">
        Come effettuare un reso
      </h2>
      <div
        class="summary___1BV7e withhtml___2vPJM gl-fetched-content gl-body--l list___2CG7f"
      >
        <ol>
          <li>
            Fai clic su "Effettua un reso", inserisci il tuo indirizzo email e
            il numero dell'ordine.
          </li>
          <li>
            Riceverai un codice a barre digitale che rappresenta la tua
            etichetta di reso. Non dovrai stampare nulla!
          </li>
          <li>
            Inserisci i prodotti nella scatola originale insieme alla nota di
            spedizione (il modulo ricevuto con il tuo ordine). Se desideri
            restituire articoli inclusi in ordini diversi, assicurati di
            inserire tutte le note di spedizione.
          </li>
          <li>
            Porta il pacco a un punto di raccolta. Fai scansionare il codice a
            barre digitale presso il punto di raccolta.
          </li>
          <li>
            Quando avremo elaborato il tuo reso, avvieremo la procedura di
            rimborso. Per i rimborsi effettuati utilizzando il metodo di
            pagamento originale potrebbero essere necessari fino a 14 giorni.
            <br /><a href="https://www.ups.com/dropoff/?loc=it_IT">UPS</a>
          </li>
          <li>
            <strong>Per cambio/i merce:&nbsp;</strong>Non appena il cambio merce
            sarà arrivato ed elaborato nel magazzino, ti invieremo i tuoi nuovi
            prodotti.
          </li>
        </ol>
        <p><br /></p>
        <p>
          Nota bene: un prodotto può essere cambiato una sola volta. Se il nuovo
          articolo continua a non soddisfare le tue esigenze, ti preghiamo
          avviare la procedura di reso e ordinare un nuovo articolo.
        </p>
      </div>
    </div>
  </div>
</section>
</div>
<div data-anchor-id="2" class="component-wrapper___n1twm">
  <section
    class="main___2neuY black___3c0Lv"
    itemscope=""
    itemtype="https://schema.org/FAQPage"
    style="background-color: rgb(255, 255, 255)"
  >
    <div class="container">
      <div class="row gl-align-items-start">
        <div class="col-s-12 col-m-12 offset-l-1 col-l-22">
          <div
            class="gl-accordion"
            itemscope=""
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
          >
            <div class="gl-accordion__content">
              <div
                itemscope=""
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
              >
                <div
                  itemprop="text"
                  class="gl-fetched-content faq-item___wlBEL"
                >
                  <div>
                    <div>
                      <strong
                        >Quanti giorni ho a disposizione per restituire un
                        ordine?</strong
                      >
                    </div>
                    <div>
                      Puoi restituire gratuitamente il tuo ordine effettuato
                      online entro 30 giorni dalla ricezione. Alcuni articoli
                      esclusivi hanno un periodo di tempo di restituzione
                      limitato e possono essere resi solo entro 14 giorni dalla
                      ricezione dell'ordine. Scoprirai al momento dell'acquisto
                      se il periodo di restituzione dovesse essere inferiore.
                    </div>
                    <div>&nbsp;</div>
                    <div>
                      Nota bene: i prodotti personalizzati sono realizzati
                      appositamente per te, quindi non possono essere
                      restituiti, salvo difetti di fabbrica.
                    </div>
                  </div>
                  <div>
                    <strong><br /></strong>
                  </div>
                  <div><strong>Quanto costa effettuare un reso?</strong></div>
                  <div>
                    Buone notizie. Restituire i prodotti è gratis! Assicurati di
                    effettuare il reso utilizzando lo stesso corriere che ti ha
                    consegnato il pacco.&nbsp;
                  </div>
                  <div>
                    <strong><br /></strong>
                  </div>
                  <div>
                    <strong
                      >Quanto tempo è necessario per un reso?&nbsp;</strong
                    >
                  </div>
                  <div>
                    Di solito ci vogliono 8 giorni lavorativi perché il pacco
                    raggiunga il nostro magazzino e venga elaborato. Puoi
                    rintracciare il tuo reso fino all'hub del corriere nazionale
                    utilizzando il link qui sopra. Dall'hub del corriere
                    nazionale viene trasportato al nostro magazzino all'estero,
                    dove elaboriamo il tuo reso.
                  </div>
                  <div>
                    <strong><br /></strong>
                  </div>
                  <div>
                    Un articolo acquistato nel nostro Online Shop non rispetta i
                    nostri standard di qualità (difettoso o danneggiato) e il
                    periodo a disposizione per il reso è terminato? Contatta il
                    nostro Servizio clienti per ricevere istruzioni.
                  </div>
                  <div>&nbsp;</div>
                  <div>
                    <div>
                      <strong
                        >Ho perso la mia etichetta di reso, come posso crearne
                        una nuova?&nbsp; <br
                      /></strong>
                      Una nuova etichetta di reso verrà resa disponibile nel tuo
                      account online e inviata automaticamente al tuo indirizzo
                      email una volta completata la richiesta online di reso o
                      cambio merce.&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="gl-accordion"
            itemscope=""
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
          >
            <div class="gl-accordion__content">
              <div
                itemscope=""
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
              >
                <div
                  itemprop="text"
                  class="gl-fetched-content faq-item___wlBEL"
                >
                  <div>
                    <strong>Quando riceverò il mio rimborso?&nbsp;</strong>
                  </div>
                  <div>
                    Una volta elaborato il tuo reso, avvieremo immediatamente la
                    procedura di rimborso.&nbsp; I rimborsi verranno effettuati
                    utilizzando il metodo di pagamento originale e potrebbero
                    essere necessari fino a 14 giorni. Il rimborso della E-Gift
                    Card avviene immediatamente via email. <br /><br />
                  </div>
                  <div>
                    <p>
                      <strong>Tempi di elaborazione del rimborso:&nbsp;</strong>
                    </p>
                    <p>
                      1.&nbsp;Preparazione pacco:&nbsp;fino a 8 giorni
                      lavorativi
                    </p>
                    <p>2.&nbsp;Tempistiche rimborso banca:</p>
                    <ul>
                      <li>
                        Carta di credito / debito: max 14 giorni lavorativi
                      </li>
                      <li>PayPal: max 3 giorni lavorativi</li>
                    </ul>
                  </div>
                  <div>&nbsp;</div>
                  <div>
                    <div>
                      <strong
                        >Ho utilizzato un buono promozionale per l'acquisto di
                        un prodotto che ho restituito. Posso richiedere un nuovo
                        buono promozionale?&nbsp; <br
                      /></strong>
                      Se hai utilizzato un buono promozionale per ottenere una
                      percentuale di sconto (ad esempio il 10% di sconto), puoi
                      contattarci per ottenerne la sostituzione nel caso tu
                      decida di effettuare il reso dell'ordine (integrale o
                      parziale). I buoni promozionali con valore menetario fisso
                      (es. 10 €) verranno rimborsati automaticamente. Riceverai
                      via email un nuovo buono corrispondente all'importo
                      applicato a quella parte dell'ordine.
                    </div>
                  </div>
                  <div>
                    <strong><br /></strong>
                  </div>
                  <div>
                    <strong>Le spese di spedizione saranno rimborsate?</strong>
                  </div>
                  <div>
                    Le spese di spedizione saranno interamente rimborsate, ad
                    eccezione di questi casi:&nbsp;
                  </div>
                  <div>1. Se stai restituendo solo parte del tuo ordine.</div>
                  <div>
                    2. Se hai effettuato il reso utilizzando un corriere
                    diverso.
                  </div>
                  <div>
                    3. Hai scelto la spedizione express. In questo caso, ti
                    rimborseremo la somma corrispondente alla spedizione
                    standard, ma solo nel caso tu stia restituendo l'intero
                    ordine.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="gl-accordion"
            itemscope=""
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
          >
            <div class="gl-accordion__content">
              <div
                itemscope=""
                itemprop="acceptedAnswer"
                itemtype="https://schema.org/Answer"
              >
                <div
                  itemprop="text"
                  class="gl-fetched-content faq-item___wlBEL"
                >
                  <p><strong>Posso effettuare un cambio merce?</strong></p>
                  <p>
                    Hai ordinato online un articolo che ti piace ma la taglia
                    non è corretta? Invece di effettuare un reso, puoi
                    richiedere un cambio merce gratuito entro 30 giorni.
                  </p>
                  <p><strong>Come posso effettuare un cambio merce?</strong></p>
                  <p>
                    Fai clic su "Cambio taglia gratuito" e indica quali sono gli
                    articoli che desideri sostituire, selezionando la taglia
                    corretta. Inserisci gli articoli in un pacco e portalo a un
                    punto di ritiro entro 5 giorni per evitare che la procedura
                    di cambio merce venga annullata.&nbsp;Non appena il cambio
                    merce sarà arrivato ed elaborato nel magazzino, ti invieremo
                    i tuoi nuovi prodotti. Riceverai un'email di conferma della
                    nuova spedizione contenente un link per il tracking quando
                    il pacco lascerà il nostro magazzino. Utilizzeremo il nostro
                    servizio di spedizione standard e lo invieremo all'indirizzo
                    di consegna originale.
                  </p>
                  <p>
                    <strong
                      >Desideri effettuare un reso e un cambio merce per
                      articoli di uno stesso ordine?&nbsp;</strong
                    >
                  </p>
                  <p>
                    Nessun problema. Puoi inserirli tutti all'interno dello
                    stesso pacco. Eseguiremo il rimborso utilizzando il metodo
                    di pagamento originale una volta che avremo ricevuto il
                    pacco.&nbsp;
                  </p>
                  <p>
                    <strong
                      >In quali casi non è possibile effettuare un cambio
                      merce?</strong
                    >
                  </p>
                  <p>
                    - Gli articoli personalizzati, realizzati appositamente per
                    te, non possono essere sostituiti.&nbsp;
                  </p>
                  <p>
                    -&nbsp; I prodotti Hype, come quelli delle collezioni YEEZY
                    e Balenciaga, non possono essere sostituiti.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="ctas___3kaWV">
            <div class="content_item">
              <div class="cta___1g4CH">
                <a
                  href="/aiuto"
                  class="gl-cta gl-cta--secondary"
                  title="Hai bisogno di maggiori informazioni? Visita la sezione Aiuto "
                  manual_cm_sp="SLOT-3-_-MICROSITE_RETURNS_?_RETURNS HUB_FAQ_RETURNS_1-_-CTA-FREE-SIZE_NEED-MORE-HELP-_-483522"
                  ><span class="gl-cta__content"
                    >Hai bisogno di maggiori informazioni? Visita la sezione
                    Aiuto </span
                  ><span
                    data-testid="arrow-right-long"
                    class="gl-icon__wrapper"
                    role="img"
                    ><svg
                      data-testid="arrow-right-long-svg"
                      class="gl-icon gl-cta__icon"
                    >
                      <use xlink:href="#arrow-right-long"></use>
                      <title></title></svg></span
                ></a>
              </div>
              <div class="cta___1g4CH">
                <a
                  href="/aiuto/quali-sono-i-criteri-di-restituzione-dei-prodotti.html"
                  class="gl-cta gl-cta--secondary"
                  title="Criteri per il reso"
                  manual_cm_sp="SLOT-3-_-MICROSITE_RETURNS_?_RETURNS HUB_FAQ_RETURNS_1-_-CTA-FREE-SIZE_NEED-MORE-HELP-_-483522"
                  ><span class="gl-cta__content">Criteri per il reso</span
                  ><span
                    data-testid="arrow-right-long"
                    class="gl-icon__wrapper"
                    role="img"
                    ><svg
                      data-testid="arrow-right-long-svg"
                      class="gl-icon gl-cta__icon"
                    >
                      <use xlink:href="#arrow-right-long"></use>
                      <title></title></svg></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
