<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h3>Featured Product</h3>
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div *ngFor="let product of prodotti" class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-1" class="single-product">
          <div class="part-1" style="background-image: url({{product.immagine}}); background-size:contain; background-repeat: no-repeat;">
            <ul>
              <li>
                <a href="#"><i class="bi bi-bag-check-fill">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  </svg>
                </i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-heart">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">{{product.nome}} - {{product.marca}}</h3>
            <h4 class="product-old-price">{{product.costo + (product.costo * 2/5)}}€</h4>
            <h4 class="product-price">{{product.costo}}€</h4>
          </div>
        </div>
      </div>
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-2" class="single-product">
          <div class="part-1">
            <span class="discount">15% off</span>
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-3" class="single-product">
          <div class="part-1">
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-old-price">$79.99</h4>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-4" class="single-product">
          <div class="part-1">
            <span class="new">new</span>
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-1" class="single-product">
          <div class="part-1">
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-old-price">$79.99</h4>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-2" class="single-product">
          <div class="part-1">
            <span class="discount">15% off</span>
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-3" class="single-product">
          <div class="part-1">
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-old-price">$79.99</h4>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
      <!-- Single Product
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-4" class="single-product">
          <div class="part-1">
            <span class="new">new</span>
            <ul>
              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="product-title">Here Product Title</h3>
            <h4 class="product-price">$49.99</h4>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
