<main class="WxEditableArea" id="contentArea">
  <div id="contentAreaElement" class="kelement"></div>
  <section class="kedit">
    <div class="container">
      <h2 class="mt-3 keditable">
        ecommerceAcademy.com Privacy Policy
      </h2>

      <div class="keditable">
        Your privacy and safety of your data is important to us. This Privacy
        Policy document describes types of information that is or may be
        collected, used or shared by ecommerceAcademy.com when you visit, use or make a
        purchases.
      </div>

      <div class="keditable">
        If you have any additional questions or require more information about
        our Privacy Policy or about how we handle user data and personal
        information, or wish to withdraw your consent for the continued
        collection, use or disclosure of your Personal Information, please feel
        free to <a routerLink="/help">contact us</a>.
      </div>

      <h2 class="mt-3 keditable">Definitions</h2>

      <div class="keditable">
        TEMPLATEO.COM is operated by Templateo, San Francisco, CA 94107.
        (referred to as "I", "Me", "Our", "Us" or "We"). As a customer of this
        service you're a "User", "Visitor" or "You" according to this agreement.
        The Website or any services offered by us will be referred to as
        "Website" or "Service". External services or integrations like will be
        referred to as Applications "External Provider" or "External Service".
      </div>

      <h2 class="mt-3 keditable">Data we collect</h2>

      <div class="keditable">
        Following standard procedures of using log files, these files
        automatically log visits when you visit the Website, it may include
        information about your web browser, it may log some of the cookies that
        are installed on your device, IP address, ISP, time zone and time stamp,
        referring/exit pages, number of clicks. The purpose of this information
        is for analyzing trends, administering this website, tracking users'
        movement on this website, and gathering demographic information, and
        it's not linked to any information that is personally identifiable.
        Additionally, as you browse the Website, we may collect information
        about subpages you view.

        <br /><br />We may also collect personal information about you such as
        your name, organization/company name, address, email address or other
        personal data if you provide it to us during registration, purchasing,
        contacting us or in other ways. We only ask for personal information
        when we truly need it to provide a desired service to you (for example
        if you make an order through the Website). We collect it by fair and
        lawful means, with your knowledge and consent. We also let you know why
        we're collecting it and how it will be used.
      </div>

      <h2 class="mt-3 keditable">Sharing your Personal Information</h2>

      <div class="keditable">
        We don't share, sell, trade or rent any personally identifying
        information publicly or with third-parties, except when required to by
        law, if you violate our Terms of Use or where it helps us facilitate our
        Service. For example online store module may require third-party
        services like PayPal or other Payment Processors, we may also use stats
        services like Google Analytics, Facebook Pixel and more. Each of these
        services have their own Privacy Policy, for example:

        <ul>
          <li>
            <a
              href="https://www.paypal.com/webapps/mpp/ua/privacy-full"
              target="_blank"
              rel="nofollow"
              >PayPal</a
            >
          </li>
          <li>
            <a
              href="https://www.google.com/intl/en/policies/privacy"
              target="_blank"
              rel="nofollow"
              >Google Analytics</a
            >
          </li>
        </ul>

        In order to provide certain features we may rely on other third party
        services like payment and accounting providers or services, support or
        communication providers and other services, we reserve right to not
        track how you interact with any of the provided services.<br /><br />

        We may collect and use Non-Personal Information to help us improve the
        Service, customize your experience and analyze use of the Service. This
        Privacy Policy does not limit our use or disclosure of collected
        Non-Personal Information. We reserve the right to collect, use and
        disclose such Non-Personal Information to our partners, advertisers and
        other third parties at our sole discretion.
      </div>

      <h2 class="mt-3 keditable">Cookies and Beacons</h2>

      <div class="keditable">
        TEMPLATEO.COM uses "Cookies", which are small data files placed on your
        device only if your browser's settings allow it and may include
        information like unique ID, previously visited subpages on this Website
        and/or other information. Types of Cookies we may use: Session Cookies,
        Security Cookies or Preference Cookies. You can disable or erase cookies
        in your browser settings.
      </div>

      <h2 class="mt-3 keditable">General Data Protection Regulation (GDPR)</h2>

      <div class="keditable">
        The General Data Protection Regulation (GDPR) is a regulation in EU law
        on data protection and privacy for all individuals within the European
        Union and the European Economic Area.

        <br /><br />
        If you are a European resident, we are Data Controller of your data and
        you have the right to know how your personal information is processed,
        what we collected about you and to ask that this data to be corrected,
        updated, or deleted. Additionally, please note that your information may
        be transferred outside of Europe, including to Canada and the United
        States. Please <a routerLink="/help">contact us</a> if
        you have any questions about your GDPR rights. For more information or
        complaints please contact your local data protection authority.
      </div>

      <h2 class="mt-3 keditable">Data Retention</h2>

      <div class="keditable">
        We retain collected information for as long as necessary to provide you
        with your requested service or unless and until you ask us to delete
        this information. Data we store, we’ll protect within commercially
        acceptable means to prevent loss and theft, as well as unauthorised
        access, disclosure, copying, use or modification. Customer passwords
        which we may store are is stored as a hash and original password cannot
        be recovered.
      </div>

      <h2 class="mt-3 keditable">Email Communication</h2>

      <div class="keditable">
        We may communicate with you by email or telephone in response to your
        inquiries or send you service-related announcements based on Personal
        Information you provide to us. We may also use your Personal Information
        to send you updates and other promotional communications if we received
        your agreement. If you no longer wish to receive those email updates,
        you may opt-out at anytime of receiving them by following the
        instructions included in each communication. Usually it's an
        "unsubscribe" link.
      </div>

      <h2 class="mt-3 keditable">Links To Other Websites</h2>

      <div class="keditable">
        Our Website may contain links to and from third party websites or
        services that are not operated by us. If you follow a link to any of
        these websites and you will be redirected to third part website, please
        note that these websites have their own privacy policies and we do not
        accept any responsibility or liability for these policies or practices.
        Please review the Privacy Policy of every website you visit before you
        submit any Personal Information to any of these websites.
      </div>

      <h2 class="mt-3 keditable">Advertisements</h2>

      <div class="keditable">
        Our Website may display ads delivered to you by our advertising partners
        who may have their own Privacy Policy and may set cookies and web
        beacons. These cookies help ad server recognizing your device each time
        ad is delivered to you or other users of your device. This Privacy
        Policy covers the use of ecommerceAcademy.com only and does not cover any third
        party advertisers or partners.
      </div>

      <h2 class="mt-3 keditable">Childrens</h2>

      <div class="keditable">
        This Website does not address any individuals under the age of 18. By
        using the Website, you represent that you are at least 18 years of age.
      </div>

      <h2 class="mt-3 keditable">Do Not Track</h2>

      <div class="keditable">
        This Website does not alter its data collection and use practices when
        your browser sends Do Not Track signal
      </div>

      <h2 class="mt-3 keditable">Business Transfers</h2>

      <div class="keditable">
        In the event ecommerceAcademy.com, or substantially all of our assets, were
        acquired, or in the unlikely event that ecommerceAcademy goes out of business
        or enters bankruptcy, your personal information would be one of the
        assets that is transferred or acquired by a third party which may
        continue to process your Personal Information. You acknowledge and
        consent that such transfers may occur, and are permitted by this Privacy
        Policy, and that any acquirer of our assets may continue to use your
        personal information as set forth in this policy.
      </div>

      <h2 class="mt-3 keditable">Changes</h2>

      <div class="keditable">
        We reserve the right to update or modify this Privacy Policy at anytime
        without prior notice. We will post these changes on this page so please
        review this document each time before you provide us with any personal
        information. This Policy is effective as of 2022/03/19. Your continued
        use of the Website after seven (7) days of any changes or revisions to
        this Privacy Policy shall indicate your agreement with the terms of such
        revised Privacy Policy. We suggest that you check this Privacy Policy
        periodically if you are concerned about how your information is used.
      </div>

      <h2 class="mt-3 keditable">Consent</h2>

      <div class="keditable">
        By using our website, you hereby consent to our Privacy Policy and agree
        to its terms.
      </div>
    </div>
  </section>
</main>
